body {
  background-color: black;
}

nav {
  color: hotpink;
  font-family: 'Orbitron', sans-serif;
  padding: 1%;
  text-align: center;
}

img {
  width: 28%;
  height: 250px;
  object-fit: cover;
  margin: 1%
}

.image-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  img {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 90%;
    margin-top: 2%;
  }
}
